<html>
<head>
<title>Accuwrite</title>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <!-- Optional theme -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
 <script   src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
 <!-- Latest compiled and minified JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 <link rel="shortcut icon" href="../assets/img/favicon2.png" type="image/x-icon">
<link rel="stylesheet" href="../assets/css/custom.css">
<link rel="stylesheet" href="../assets/css/font-awesome.css">

 <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.min.css' rel='stylesheet' type='text/css' />
 <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css' rel='stylesheet' type='text/css' />
 <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/plugins/char_counter.min.css' rel='stylesheet' type='text/css' />

 <!-- Include JS file. -->
 <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/froala_editor.min.js'></script>
 <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/js/plugins/char_counter.min.js'></script>
</head>
<body>

<div class="jumbotron">
 <div class="page-header">
  <h3>Accuwrite <small> handy spellchecking</small></h3>
 </div>
 <div class="well">
  <textarea id="text" class="froala-editor"></textarea>
 </div>
 <p><a class="button" id="spellcheck" href="#" role="button">Check</a></p>
</div>

<div id="footer">
 <div class="container">
  <p><div><a href="https://github.com/mainstreamer/accuwrite"><i class="fa fa-github"></i></a></div>
  <div class="copyright">Copyright © 2017</div></p>
 </div>
</div>

<script>
 $(function() {
  $('textarea.froala-editor').froalaEditor({
  } )
 });
</script>
<script src="../assets/js/ajax.js"></script>
<script>
  $('#spellcheck').click(function() {


   var all = $(".fr-element p");

   var arr = [];
   var newString = [];
   var candidates = [];
   var wrdCounter = 0;

//iterate over P
   for (var q = 0; q < all.length; q++)
   {
     newString = '';
     all[q].innerHTML = all[q].innerText;
     all[q].innerHTML = all[q].innerHTML.replace('&nbsp;',' ')
   }


   for (var j = 0; j < all.length; j++)
   {
     newString = '';
     arr[j] = all[j].innerText.split(" ");
     for (var i = 0; i < arr[j].length; i++) {

       wrdCounter++;
       newString += '<span id=word_'+wrdCounter+'>'+arr[j][i]+'</span> ';
       candidates['word_'+wrdCounter] = arr[j][i];
    }
       all[j].innerHTML = newString;

   }











//   for (var el in all) {
//    console.log (all[0].innerText);
//    console.log (candidates);
//
//    all[0].innerHTML = newString;
//   }
/*
   var textToCheck = $('#text').val();

   var arr = textToCheck.split(" ");
//   var newString = [];
//   for (var i = 0; i < arr.length; i++) {
//    newString += '<span>'+arr[i]+'</span> ';
//   }
   $('#text').val(newString);*/
//
//   t = '<span>'+t+'</span>';
//   $( "#spellcheck" ).value = t;

//   alert($( "#spellcheck" ).value);


//   console.log($('#spellcheck').children);
//   each(
//           function (data) {
//              console.log(data);
//           }
//   );

//   goCheck(textToCheck);
  });
</script>
</body>
</html>
